mixin mainPageExpertiseAreas(name, items)    
  li.expertise-areas__block
    div.expertise-areas__name= name
    each item, index in items
      if(index < 4)
        div.expertise-areas__activity= item
      else
        div.expertise-areas__activity.hide= item
    a.expertise-areas__more(href="#") Показать все

mixin mainPageResponsibility(name, text)    
  li
    .responsibility__title= name
    .responsibility__description= text

mixin mainPageWorkflow(args)
  .workflow__wrapper 
    .workflow__block
      .workflow__imgwrap
        img(src= 'assets/img/workflow-slide-1.png' alt="slide")
      .workflow__textwrap 
        .workflow__title= args.title
        .workflow__subtitle= args.subtitle
        .workflow__description Популярный сервис, на котором удобно и клиентам, и специалистам. Хороший подбор специалистов для ежедневных потребностей людей дополняется понятным и информативным интерфейсом, что делает «Кабанчика» отличным помощником. Проблемы решаются оперативно и, главное, без потери времени и лишних денег. Вполне доволен сотрудничеством.
        .workflow__buttons 
          a.workflow__link.c-button.c-button--primary.c-button--md(href="#") Как эксперт
          a.workflow__link.workflow__link-black.c-button.c-button--primary.c-button--md(href="#") Как бизнес   

mixin mainPageRecommendations(args)  
  .recommendations__block
    .recommendations__recommendation= args.recommendation
    .recommendations__info
      .recommendations__imgwrap
        img(src= 'assets/img/recommendation-photo.jpg' alt="recommending's photo")
      .recommendations__profile
        .recommendations__name Андрей Р.
        p.recommendations__position Посада, компанія